@model Film

<div class="text-center">
	<h1 class="display-4">@Model.FilmName</h1>
</div>


<div class="row">
	<div class="col-md-4">
		<img class="img-thumbnail" src="@Model.PhotoUrl" />
	</div>
	<div class="col-md-8">
		<p class="fs-4">@Model.DescriptionFilm</p>
	</div>
</div>

<div class="margin"></div>

<div class="row">
	<div class="col-md-4">
		<h1 class="display-4">Отзывы</h1>
	</div>
	<div class="col-md-8">
		<h1 class="display-4">Оставить отзыв</h1>
	</div>
</div>






