@model Register


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="display-6">Регистрация</h1>
        <form method="post">
            <div>
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Surname" class="form-label"></label><br />
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname"></span>
            </div>
            <div>
                <label asp-for="UserName" class="form-label"></label><br />
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Email" class="form-label"></label><br />
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Age" class="form-label"></label><br />
                <input asp-for="Age" class="form-control"/>
                <span asp-validation-for="Age"></span>
            </div>
            <div>
                <label asp-for="Password" class="form-label"></label><br />
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="PasswordConfirm" class="form-label"></label><br />
                <input asp-for="PasswordConfirm" class="form-control"/>
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <h1></h1>
            <div class="d-grid gap-2">
                <button class="btn btn-primary">Зарегестрироваться</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

